/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form label::after{
    content: "\a";
    white-space: pre;
}

form input[type="text"],
form input[type="number"],
form select,
form textarea {
    white-space: pre-line;
    width: 30vw;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Styling for the player name */
#turn-announcement {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

/* Styling for the game board */
.board {
    display: flex;
    flex-wrap: wrap;
    width: 304px;
    height: 304px;
    margin: 0 auto;
    border: 2px solid black;
}

/* Styling for each cell in the game board */
.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 72px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    background-image: url('img/vide.png');
}

.no-click {
    pointer-events: none;
}

/* Styling for the "X" and "O" symbols */
.x {
    background-image: url('img/croix.png');
}
.o {
    background-image: url('img/cercle.png');
}

